<h1>New addition</h1>

<form action="/wizard_addition">
  <label for="firstnum">Add this:</label>
  <input id="firstnum" name="first_num">

  <label for="secondnum">to this:</label>
  <input id="secondnum" name="second_num">

  <button>Add!</button>
</form>
