<h1>New subtraction</h1>

<form action="/wizard_subtract">
  <label for="firstnum">Subtract this:</label>
  <input id="firstnum" name="first_num">

  <label for="secondnum">from this:</label>
  <input id="secondnum" name="second_num">

  <button>Subtract!</button>
</form>
