<h1>New subtraction</h1>

<form action="/wizard_subtraction">
  <label for="zebra">First number:</label>
  <input id="zebra" name="first_num">

  <label for="giraffe">Second number:</label>
  <input id="giraffe" name="second_num">

  <button>Subtract!</button>
</form>
