<h1>New multiplication</h1>

<form action="/wizard_multiply">
  <label for="firstnum">Multiply this:</label>
  <input id="firstnum" name="first_num">

  <label for="secondnum">by this:</label>
  <input id="secondnum" name="second_num">

  <button>Multiply!</button>
</form>
