<h1>Street address to coordinates calculation</h1>

<form action="/street_to_coords">
  <label for="coords">Street Address </label>
  <input id="coords" name="coordinates">

  <button>Look up coordinates!</button>
</form>
