<h1>Street address to coordinates calculation</h1>

<dl>
<dt>Street Address</dt>
    <div>    </div> <%= @user_street_address %>

<dt>Result</dt>
    <div></div> <div> <%= @result %> </div>
</dl>

<a href="/add">Do another addition</a>
