<h1>Street address to coordinates results</h1>

<dl>
<dt>Street Address</dt>
    </div> <%= @user_street_address %>

<dt>Latitude</dt>
    <div> <%= @latitude %> </div>
</dl>

<dt>Longitude</dt>
    <div> <%= @longitude %> </div>
</dl>
