<h1>Street address to coordinates results</h1>

<dl>
<dt>Street Address</dt>
    <div> <%= @address %> </div>
<p></p>

<dt>Latitude</dt>
    <div> <%= @latitude %> </div>
</dl>

<dt>Longitude</dt>
    <div> <%= @longitude %> </div>
</dl>
