<h1>Street address to weather calculation</h1>

<form action="/street_to_weather">
  <label for="user_street_address">Street Address </label>
  <input id="user_street_address" name="user_street_address" placeholder="Enter the address">
  <div></div>
  <button>Tell me the weather!</button>
</form>
